@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* shared styles */
* {
    font-family: "Azeret Mono";
}

.description {
    color: #0D1321;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

/* nav styles starts here */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}

nav h3 {
    color: #0D1321;
    font-size: 28px;
    font-weight: 800;
}

nav button {
    padding: 15px 25px;
    border-radius: 8px;
    border: 1px solid #0D1321;
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
}

/* header styles */
#header-bg {
    background: url('../assets/Hero-bg.png') no-repeat center center;
    background-size: cover;
    height: 662px;
    margin-bottom: 50px;
}

header {
    display: flex;
    flex-direction: column;
    width: 63rem;
    margin: auto;
    padding: 30px;
    align-items: center;
    justify-content: center;
}

header h1 {
    color: #0D1321;
    text-align: center;
    font-size: 48px;
    font-weight: 800;
}

header button {
    padding: 21px 24px;
    border-radius: 8px;
    background: #0D1321;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    margin-top: 1.7rem;
}